.newsletter__sect {
    gap: 1rem;
}

.newsl__title.title {
    font-size: 1.5rem;
}

.newsl-email__inp, .newsl-submit__inp-btn {
    border: none;
    border-radius: .5rem;

    margin: 0 .5rem;
    padding: .3rem;
}

.newsl-email__inp {
    width: 15rem;
}

.newsl-submit__inp-btn {
    background-color: var(--color-wine);
    color: var(--color-almost-white);

    width: 4rem;
}