<section class="newsletter__sect center__sect parent_col">
    <h4 class="newsl__title title">Acompanhe as nossas oportunidades</h4>
    <p class="text newsl__text">Seja o primeiro a saber quando novas vagas serão abertas!</p>
    <div class="inp__div"><input class="newsl-email__inp" type="email" value="Seu e-mail" name="" id=""><input class="newsl-submit__inp-btn" type="button" value="Enviar"></div>
</section>
<p class="copyrigth__text text"> &copy 2022 OptimusTech. Todos os direitos reservados</p>